@import "../../../../shared/styles/animations";

:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .main-page__slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: opacity 1s;

    .dark-filter {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);

      .text {
        position: absolute;
        right: 5rem;
        bottom: 5rem;
        width: 50rem;
        text-align: left;
        font-size: 1.5rem;
        opacity: .85;

        @media (max-width: 768px) {
          width: 40rem;
        }
      }

      es-copyright {
        position: absolute;
        bottom: 5rem;
        left: 5rem;
      }
    }
  }
}

