<div class="main-page__slide" [style.background-image]="imgUrl" [style.opacity]="opacity">
  <div class="dark-filter">
    <div class="text">{{slide.text}}</div>
    <es-copyright [copyright]="slide.copyright"></es-copyright>
  </div>
</div>
