@import "../../../../shared/styles/animations";

.wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 5rem;
  right: 5rem;
  z-index: 1100;
  height: 3rem;;

  .slide-indicator {
    //width: 2px;
    height: 1.5rem;
    padding: .3rem;
    margin-top: -.3rem;
    transition: height $transition-time;
    cursor: pointer;

    .white-square {
      width: 3px;
      height: 100%;
      background-color: white;
    }
  }

  .active {
    height: 3rem;
  }
}

