.contacts-sent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  padding: 5rem;
  font-size: 3rem;
  font-family: OrbitronLight;
  transition: opacity .5s;

  .contacts-sent__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    i {
      font-size: 5rem;
    }
  }

  .close {
    fill: black;
    position: absolute;
    top: 5rem;
    right: 5rem;
    transform: rotate(45deg) scale(1.5);
  }
}
