<div class="contacts-sent" [style.opacity]="opacity" [hidden]="!active">
  <div class="contacts-sent__content">
    <i class="fa fa-check"></i>
    <div class="contacts-sent__text">Сообщение отправлено</div>
  </div>

  <div class="close" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
  </div>
</div>
