@import "../shared/styles/positions";
@import "../shared/styles/sizes";
@import "../shared/styles/animations";
@import "../shared/styles/responsive";

:host {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    @include menu-width;
    height: 100%;
    transform: translateX(-100%);
    transition: transform $transition-time ease-in-out;
    z-index: 1010;
  }

  .content {
    width: 100%;
    //transition: width $transition-time;
    height: auto;
    min-height: 100vh;
    transition: padding-left $transition-time ease-in-out;

    &.menu-shown {
      padding-left: 40rem;
    }

    //& ::ng-deep > * {
    //  position: absolute;
    //}
  }

  #menuToggle {
    font-family: OrbitronLight;
    position: fixed;
    top: $menu-toggle-top;
    left: $menu-toggle-left;
    z-index: 1101;
    cursor: pointer;
    transition: fill $transition-time, transform $transition-time;

    @media (max-width: 768px) {
      top: 4rem;
    }

    svg {
      @include menu-toggle-scale;
    }

    &.on-hover {
      fill: #777 !important;
    }

    &.rotated {
      transform: rotate(-45deg);
    }
  }

  #siteLogo {
    position: fixed;
    top: 1.4rem;
    left: $menu-toggle-left + 5rem;
    text-transform: uppercase;
    font-family: GutsyBold;
    font-size: 7rem;
    user-select: none;
    transition: color $transition-time;
    z-index: 1101;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &.menu-shown {
    .menu {
      transform: translateX(0);
    }
  }
}

@mixin hide {
  position: fixed;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: rgba(255,255,255,.85);
  z-index: 1;
}

.hide-top {
  @include hide;
  top: 0;
}
