<div class="menu">
  <wl-menu (hideMenu)="toggleMenu()"></wl-menu>
</div>
<div class="content"
     [ngClass]="{ 'needs-height': needsHeight$ | async }"
     [@routeAnimation]="{ value: getRouterState(mainOutlet), params: {enter: enterAnimation, leave: leaveAnimation }}"
     (click)="closeMenuIfOpened()"

><!--(swipedown)="onSwipeDown($event)" , 'menu-shown': menuShown$ | async-->
  <router-outlet (activate)="onRouterActivate($event)" #mainOutlet="outlet"></router-outlet>
</div>
<div id="menuToggle" (click)="toggleMenu()" [style.fill]="logoColor$ | async" [ngClass]="{ rotated: isRotated$ | async }">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
</div>
<div id="siteLogo" [style.color]="logoColor$ | async"><a routerLink="/">Esenin's</a></div>
<wl-section-title></wl-section-title>
<ng-container *ngIf="!changingSection">
  <wl-section-static [staticWhen]="hideTop$">
    <div class="hide-top" (click)="closeMenuIfOpened()"></div>
  </wl-section-static>
</ng-container>
