<div class="menu">
  <es-menu (hideMenu)="toggleMenu()"></es-menu>
</div>
<div class="content"
     [@routeAnimation]="{value: getRouterState(mainOutlet), params: {enter: enterAnimation, leave: leaveAnimation}}"
     (click)="closeMenuIfOpened()"
     (esTouchScroll)="onWheel($event)">
  <router-outlet #mainOutlet="outlet"></router-outlet>
</div>
<div id="menuToggle"
     (click)="toggleMenu()"
     [style.fill]="logoColor$ | async"
     [ngClass]="{ rotated: isRotated$ | async }"
     esHoverClass="on-hover">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
</div>
<div id="siteLogo" [style.color]="logoColor$ | async"><a routerLink="/">Esenin's</a></div>
<es-section-title></es-section-title>
<ng-container *ngIf="!changingSection">
  <es-section-static [staticWhen]="hideTop$">
    <div class="hide-top" (click)="closeMenuIfOpened()"></div>
  </es-section-static>
</ng-container>
