@import 'app/modules/shared/styles/responsive.scss';

@font-face {
  font-family: OrbitronLight;
  src: url("/assets/fonts/Orbitron-Light.ttf");
}

@font-face {
  font-family: GutsyBold;
  src: url("/assets/fonts/Gutsy-Bold.ttf");
}

@font-face {
  font-family: HelveticaRegular;
  src: url("/assets/fonts/Helvetica-Regular.otf");
}

body {
  margin: 0;
  font-family: HelveticaRegular !important;
  overflow-y: scroll;
}

html {
  @include  media-breakpoint-up(xl) {
    font-size: .85rem;
  }

  @include media-breakpoint-down(xl) {
    font-size: .8rem;
  }

  @include media-breakpoint-down(lg) {
    font-size: .7rem;
  }

  @include  media-breakpoint-down(md) {
    font-size: .6rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: .45rem;
  }

  @include media-breakpoint-down(xs) {
    font-size: .45rem;
  }

  @media (max-width: 768px) {
    font-size: .35rem;
  }
}

a:link {
  color: #777;
}

a:visited {
  color: #777;
}

a:hover {
  color: #333 !important;
}
