@import "../../../../shared/styles/sizes";

#projectModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  //background-color: rgba(0, 0, 0, .8);
  background-color: black;
  transform: translateX(100%);
  opacity: 0;
  overflow-y: hidden;
  transition: transform .5s, opacity .5s;
  z-index: 950;
  display: flex;
  justify-content: center;
  align-items: center;

  &__close {
    position: absolute;
    top: 5rem;
    right: 5rem;
    fill: white;
    transform: rotate(45deg);
    cursor: pointer;

    svg {
      @include menu-toggle-scale;
    }
  }

  &.shown {
    transform: translateX(0);
    opacity: 1
  }
}

.project {
  //@include portfolio-width;
  //@include portfolio-height;
  width: 70%;
  height: 70%;
  padding: 1rem;
  display: flex;

  &-selected {
    position: relative;
    width: 90%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: background-image .5s ease-in-out;

    es-copyright {
      position: absolute;
      bottom: 3rem;
      left: 3rem;
      z-index: 900;
    }

    &__info {
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.7);
      padding: 3rem 7rem;
      color: white;
      opacity: 0;
      transition: opacity .5s;
      user-select: none;
      font-family: OrbitronLight;
      z-index: 1000;

      @include media-breakpoint-down(xl) {
        padding-top: 2.5rem;
      }

      @include media-breakpoint-down(lg) {
        padding-top: 2.9rem;
      }

      @include media-breakpoint-down(md) {
        padding-top: 3.2rem;
      }

      @include  media-breakpoint-down(sm) {
        padding-top: 3.5rem;
      }

      @media (max-width: 768px) {
        padding: 4rem 9rem;
      }

      &__title {
        font-size: 2rem;
        //line-height: 2rem;
      }

      &__sub-title {
        font-size: 1.3rem;
      }

      &__description {
        margin-top: 1.5rem;
        font-size: 1.3rem;
      }
    }

    &__info-trigger {
      position: absolute;
      top: 3rem;
      left: 3rem;
      opacity: .7;
      z-index: 1000;
      transition: opacity .5s, transform .5s, color .5s;
      cursor: pointer;

      svg {
        @include menu-toggle-scale;
      }

      &:hover {
        opacity: 1;
      }
    }

    &.info-shown {
      .project-selected__info-trigger {
        fill: white;
        transform: rotate(-45deg);
      }

      .project-selected__info {
        opacity: 1;
        user-select: initial;
      }
    }
  }

  &-sidebar {
    width: calc(100% + 17px);
    height: 100%;
    background-color: black;
    padding: .5rem * 9 / 16.2 .5rem;
    overflow-x: hidden;
    overflow-y: scroll;

    &__wrapper {
      width: 10%;
      height: 100%;
      overflow: hidden;
    }

    &__button {
      width: 100%;
      background-position: center;
      background-size: cover;
      padding-top: 56.25%;
      margin-bottom: .5rem * 9 / 16.2;
      filter: grayscale(100%) brightness(50%);
      transition: filter .5s, transform .5s;
      cursor: pointer;

      &.active {
        filter: grayscale(100%) brightness(100%) !important;
        transform: scale(1.091);
      }

      &:hover {
        filter: grayscale(0) brightness(100%);
      }
    }
  }
}
