<div id="projectModal" *ngIf="project" [ngClass]="{ 'shown': isShown }" (click)="clickModal($event)">
  <div id="projectModal__close" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/></svg>
  </div>
  <div class="project">
    <div class="project-selected"
         [style.backgroundImage]="selectedPhotoUrl"
         [ngClass]="{ 'info-shown': infoShown }"
         (click)="triggerInfo()">
      <es-copyright [copyright]="project.copyright" [scale]="0.8"></es-copyright>
      <div class="project-selected__info-trigger">
        <i class="fa fa-info"></i>
      </div>
      <div class="project-selected__info">
        <div class="project-selected__info__title">{{project.name}}</div>
        <div class="project-selected__info__sub-title">{{project.subName}}</div>
        <div class="project-selected__info__description" [innerHTML]="project.description"></div>
      </div>
    </div>
    <div class="project-sidebar__wrapper">
      <div id="projectSidebar" class="project-sidebar">
        <div *ngFor="let photo of project.photos; let i = index"
             class="project-sidebar__button"
             [style.backgroundImage]="getUrl(i)"
             [ngClass]="{ 'active': i === selectedPhotoIndex }"
             (click)="manualChangeSelected(i)"></div>
      </div>
    </div>
  </div>
</div>
