<div class="sidebar">
  <div class="contacts">
    <!--<h2>Контакты</h2>-->

    <div class="contact">
      <div class="name">Михаил Есенин</div>
      <div class="email"><a href="mailto:esenin_mm@me.com">esenin_mm@me.com</a></div>
      <div class="phone"><a href="tel:+79037911191">+7 903 79&nbsp;1 &nbsp;&nbsp;1&nbsp;1 &nbsp;9&nbsp;1</a></div>
    </div>

    <div class="contact">
      <div class="name">Кристина Есенина</div>
      <div class="email"><a href="mailto:esenina.kv@gmail.com">esenina.kv@gmail.com</a></div>
      <div class="phone"><a href="tel:+79055944220">+7 905 594 42 20</a></div>
    </div>

    <div class="contact">
      <div class="name">Офис</div>
      <div>г. Москва, ул. Зои и Александра Космодемьянских 26/21с1</div>
    </div>

    <div class="socials">
      <a href="https://www.facebook.com/designbyesenins/" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/design_by_esenins/" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</div>

<div class="contact-us">
  <form (ngSubmit)="submit()" #contactsForm="ngForm">
    <h2>Напишите нам:</h2>
    <div class="form-group">
      <label for="from">Email:</label>
      <input type="text" name="from" id="from" class="form-control" [(ngModel)]="model.from">
    </div>
    <div class="form-group">
      <label for="letter">Сообщение:</label>
      <textarea name="letter" id="letter" class="form-control" cols="30" rows="10" [(ngModel)]="model.body"></textarea>
    </div>
    <button class="btn">Отправить</button>
  </form>
</div>

<es-contacts-sent [sent]="sent"></es-contacts-sent>
