@import "../../../shared/styles/animations";
@import "../../../shared/styles/colors";
@import "../../../shared/styles/sizes";

:host {
  display: flex;
  width: 100%;
  height: 100vh;

  h2 {
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .sidebar {
    @include menu-width;
    height: 100%;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
    transition: width $transition-time;

    .contacts {
      width: 100%;
      margin-top: 11rem;
      font-family: OrbitronLight;
      font-size: 1.5rem;
      padding-left: 10rem;

      a {
        text-decoration: none;
        color: #666;
        transition: color $transition-time;
        margin-right: 1.5rem;

        &:hover {
          color: black;
        }
      }

      .contact {
        margin-bottom: 1rem;
        font-size: 1rem;
        white-space: normal;

        .name {
          font-size: 1.5rem;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .socials {
        display: flex;
        margin-top: 3rem;
        font-size: 2rem;
      }
    }
  }

  .contact-us {
    @include content-width();
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $dark-gray;
    font-family: OrbitronLight;
    transition: width $transition-time;
    //font-size: .562rem;

    form {
      width: 50%;

      label {
        font-size: 1.2rem;
        margin-bottom: .5rem;
      }

      input, button {
        outline: none;
      }

      .form-group .form-control, .btn {
        background-color: $dark-gray;
        color: white;
        border: 1px solid white;
        border-radius: 0;

        @media (max-width: 1900px) {
          border: 1px solid white;
        }
      }

      .btn {
        font-size: 1rem;
      }
    }
  }
}
