<div class="fb-posts" [ngClass]="{ 'menu-shown': menuShown$ | async }">
  <div class="fb-posts-grid" #shuffle>
    <es-blog-post *ngFor="let post of posts" [post]="post" (shiftLayout)="shiftLayout()" (initiated)="postInitiated()"></es-blog-post>
    <div class="sizer"></div>
  </div>
</div>
