<div class="wrapper" id="test">
  <div class="arrow arrow-left" (click)="manualSlide(currentSlideIndex - 1)"><i class="fa fa-angle-left"></i></div>
  <div class="arrow arrow-right" (click)="manualSlide(currentSlideIndex + 1)"><i class="fa fa-angle-right"></i></div>
  <es-main-page-slider-controls [slidesCount]="slides.length"
                                [currentSlide]="currentSlideIndex"
                                (indicatorClicked)="manualSlide($event)"></es-main-page-slider-controls>

  <es-main-page-slide *ngFor="let slide of slides; let i = index"
                      [slide]="slide"
                      [active]="currentSlideIndex === i"></es-main-page-slide>
</div>

