@import '../../../shared/styles/responsive';

:host {
  width: 100%;
}

.projects {
  width: 100%;
  padding-top: 11rem;
  padding-left: 10rem;
  font-family: OrbitronLight;

  @include media-breakpoint-down (md) {
    padding-bottom: 30rem;
  }

  &-section {
    margin-bottom: 2.5rem;
    text-transform: uppercase;
  }

  &-with-copyrights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 2.5rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
}
