<div class="projects container-fluid" *ngIf="projectsSections$ | async as sections">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-uppercase">общественные интерьеры</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="projects-section">
            <h3>{{sections['hotels'].name}}</h3>
            <es-project *ngFor="let project of sections['hotels'].projects" [project]="project"></es-project>
          </div>
          <div class="projects-section">
            <h3>{{sections['others'].name}}</h3>
            <es-project *ngFor="let project of sections['others'].projects" [project]="project"></es-project>
          </div>
        </div>
        <div class="col-md-6">
          <div class="projects-section">
            <h3>{{sections['bars'].name}}</h3>
            <es-project *ngFor="let project of sections['bars'].projects" [project]="project"></es-project>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 projects-with-copyrights">
      <div>
        <h2 class="text-uppercase">частные интерьеры</h2>
        <div class="projects-section">
          <h3>{{sections['flats'].name}}</h3>
          <es-project *ngFor="let project of sections['flats'].projects" [project]="project"></es-project>
        </div>
        <div class="projects-section">
          <h3>{{sections['cottages'].name}}</h3>
          <es-project *ngFor="let project of sections['cottages'].projects" [project]="project"></es-project>
        </div>
      </div>
      <div class="projects-copyrights">
        * -  Проект выполнен выполнен совместно со студией DKstudio<br />
        ** - Проект выполнен во время работы в команде студии Sundukovy Sisters
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
